.Progress-bar-cotainer{
    width: 100%;
    height: 6ch;
    padding: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Progress-bar{
    height: 6vh;
    width: 20vw;
    display: flex;
    align-items: center;
    padding: 1vh;
    box-sizing: border-box;
    border-radius: 3vh;
    background-color: #b2b2b2;
}
.Progress-bar-p{
    height: 5vh;
    width: 11vw;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1vh;
    box-sizing: border-box;
    border-radius: 3vh;
    background-color: #C1121F;
}
.Progress-bar:hover .Progress-bar-p{
    animation: expand 2s ease-in forwards;
}
@keyframes expand {
    from{
        width: 3vw;
    }to{
        width: 11vw;
    }
}
.Percentage{
    font-size: 2vh;
}