.Main-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: fit-content;
    position: relative;
}
.Background-Video{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.Video-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.Blur-container{
    height: 100%;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.9);
}
#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%); 
}
.Content-container {
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: white;
}
.Basic-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); 
    display: flex;
    flex-direction: row;
}
.Basic-container2{
    width: 100vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.9); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}