.Main-message-container{
    margin-top: 30vw;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 250;
    background-color: rgba(0, 0, 0, 1);
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.3) 40%,rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.9) 100%
);
}
.message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 8vh;
    font-weight: 800;
}
.Corner-1,
.Corner-2,
.Corner-3,
.Corner-4{
    width: 4vh;
}
.Corner-1{
    transform: rotate(45deg);
}
.Corner-2{
    transform: rotate(-45deg);
}
.Corner-3{
    transform: rotate(135deg);
}
.Corner-4{
    transform: rotate(-135deg);
}
.left-corners,
.right-corners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}